## 1.PySpark Connection part

In [1]:
#Connection part for Pyspark and importing required packages.
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import *

spark = SparkSession.builder.appName("Pyspark_VS_Pandas").getOrCreate()
conf = spark.sparkContext._conf.setAll([('spark.driver.memory', '4g'), ('spark.executor.memory', '4g'), ('spark.executor.num','6'), ('spark.network.timeout', '1000000')])

## 2.Reading data into Pyspark dataframe

In [33]:
#Creating Pyspark dataframe so that we apply SQL scripts for our practice
#    1.Read it into Pandas df
#    2.convert into pyspark df by defining datatypes of each columns
#    [we can use spark.read.format("") option, but it requires additional packages installation so skipped this way]


student_dfpd = pd.read_excel(r'Table_Source\Student_Placement_Table.xlsx')
schema = StructType([\
                     StructField("ID",IntegerType(),False),\
                     StructField("Name",StringType(),False),\
                     StructField("Gender",StringType(),False),\
                     StructField("DOB",DateType(),False),\
                     StructField("Location",StringType(),True),\
                     StructField("University",StringType(),False),\
                     StructField("Salary",DoubleType(),False),\
                     StructField("Company",StringType(),False)])

student_dfps = spark.createDataFrame(student_dfpd,schema)

## 3.PySpark DataFrame to TempView + Columns datatype

In [34]:
#A. Create pyspark dataframe into Temporary view for applying SQL scripts
student_dfps.createOrReplaceTempView("Student_Table")

#B. Checking the datatypes of columns
student_dfps.printSchema()

root
 |-- ID: integer (nullable = false)
 |-- Name: string (nullable = false)
 |-- Gender: string (nullable = false)
 |-- DOB: date (nullable = false)
 |-- Location: string (nullable = true)
 |-- University: string (nullable = false)
 |-- Salary: double (nullable = false)
 |-- Company: string (nullable = false)

In [35]:
sql_query = "SELECT * FROM Student_Table"
spark.sql(sql_query).show()

+---+----+------+----------+--------+----------+-------+---------+
| ID|Name|Gender|       DOB|Location|University| Salary|  Company|
+---+----+------+----------+--------+----------+-------+---------+
|101| AAA|     M|1994-10-10|Banglore|      IISC|55000.5|Microsoft|
|102| BBB|     F|1995-09-20|     HYD|      IIIT|76000.2|   Amazon|
|103| CCC|     M|1992-12-31| Chennai|       NIT|49200.5|   Google|
|104| DDD|     F|1990-11-22|  Mumbai|       VIT|54980.6|    Apple|
|105| EEE|     M|1993-05-19| Chennai|       IIT|60200.7|Microsoft|
|106| FFF|     M|1994-07-23|     HYD|      IIIT|63100.8|Microsoft|
|107| GGG|     F|1994-10-10|  Mumbai|       VIT|60200.7|   Amazon|
|108| HHH|     M|1990-10-10|Banglore|       NIT|89200.7|    Apple|
|109| III|     F|1994-12-21|     HYD|      IIIT|66980.8|   Google|
|110| JJJ|     M|1990-11-22| Chennai|       NIT|59250.2|   Amazon|
|111| KKK|     M|1994-10-10|Banglore|      IISC|76300.9|Microsoft|
|112| LLL|     F|1995-09-20|  Mumbai|       NIT|67900.8|    Apple|
|113| MMM|     F|1994-10-15|     HYD|       VIT|60200.7|   Google|
|114| NNN|     F|1990-11-29|Banglore|      IIIT|59200.5|   Amazon|
|115| OOO|     M|1995-09-20|Banglore|      IISC|57120.5|   Google|
|116| PPP|     F|1994-10-28| Chennai|       IIT|59050.5|    Apple|
|117| QQQ|     M|1991-02-10|Banglore|      IISC|60200.7|Microsoft|
|118| RRR|     F|1993-11-10|  Mumbai|       NIT|52900.5|   Google|
|119| SSS|     M|1992-10-25|     HYD|       VIT|62900.5|Microsoft|
|120| TTT|     M|1995-09-29| Chennai|      IIIT|57230.5|    Apple|
+---+----+------+----------+--------+----------+-------+---------+
only showing top 20 rows

# Ruff

In [3]:
Student_df = spark.read.format("com.crealytics.spark.excel").option("useHeader","true").option("inferSchema","false").load("Student_Placement_Table.xlsx")

Py4JJavaError: An error occurred while calling o44.load.
: java.lang.ClassNotFoundException: Failed to find data source: com.crealytics.spark.excel. Please find packages at http://spark.apache.org/third-party-projects.html
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:657)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:194)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:178)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassNotFoundException: com.crealytics.spark.excel.DefaultSource
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20$$anonfun$apply$12.apply(DataSource.scala:634)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20$$anonfun$apply$12.apply(DataSource.scala:634)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20.apply(DataSource.scala:634)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20.apply(DataSource.scala:634)
	at scala.util.Try.orElse(Try.scala:84)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:634)
	... 13 more

In [38]:
#python dict
dict1 = {"Name": ["A","B","C","D","E","F","G","H","I"],\
         "Weight":[70,61,83,60,92,69,84,71,77],\
         "Address":["HYD","Banglore","Chennai","Mumbai","Banglore","Mumbai","Chennai","Banglore","HYD"],\
         "DOB":["15-01-1990", "19-01-1996", "28-02-1999", "13-06-1989", "15-11-2000", "10-12-1995", "25-11-1998", "15-09-1994", "15-01-1996"],\
         "Batch":[2016, 2017, 2018, 2016, 2016, 2017, 2016, 2018, 2017],\
         "Salary":[51000.00, 46500.50, 52000.00, 51000.00, 52000.00, 75000.60, 64000.50, 52000.00, 46500.50]         
        }

#create pandas df
dfpd = pd.DataFrame(dict1)
dfpd_dtype = {"Name":'str', "Weight":'int64', "Address":'str', "DOB":'datetime64', "Batch":'int64', "Salary":'float64' }
dfpd = dfpd.astype(dfpd_dtype)

In [39]:
#Schema for spark dataframe with Structtype, fields
schema = StructType([\
                     StructField("Name", StringType(), True),\
                     StructField("Weight", IntegerType(), True),\
                     StructField("Address", StringType(), True),\
                     StructField("DOB", DateType(), True),\
                     StructField("Batch", IntegerType(), True),\
                     StructField("Salary", DoubleType(), True)])

#create spark DF by passing pandas df with above schema
dfps = spark.createDataFrame(dfpd, schema)

In [40]:
dfps.show()

+----+------+--------+----------+-----+-------+
|Name|Weight| Address|       DOB|Batch| Salary|
+----+------+--------+----------+-----+-------+
|   A|    70|     HYD|1990-01-15| 2016|51000.0|
|   B|    61|Banglore|1996-01-19| 2017|46500.5|
|   C|    83| Chennai|1999-02-28| 2018|52000.0|
|   D|    60|  Mumbai|1989-06-13| 2016|51000.0|
|   E|    92|Banglore|2000-11-15| 2016|52000.0|
|   F|    69|  Mumbai|1995-10-12| 2017|75000.6|
|   G|    84| Chennai|1998-11-25| 2016|64000.5|
|   H|    71|Banglore|1994-09-15| 2018|52000.0|
|   I|    77|     HYD|1996-01-15| 2017|46500.5|
+----+------+--------+----------+-----+-------+